/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background: #fcf9f7 url(../images/bg.png) left top repeat;
font-family:"Helvetica Neue",Helvetica, Arial;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -250px;                                                              
float: left;
}

div#content {
width: 940px;
height: 500px;
margin: 0 auto;
clear: both;
position: relative;
top: -250px;

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */

/*.watch{ la avant on script
width: 384px;
height: 500px;
background: url(../images/watch.png) left bottom no-repeat;
float: left;
margin-right: 30px;
}*/

.rest{
    width: 526px;
    float: right;
}

.clear{
    clear: both;
}

h1{
    font-family: 'Crete Round', serif;
    background: url(../images/logo.png) repeat;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 72px;
    color: #4d4d4d;
    letter-spacing: -2px;
    line-height: 50px;
    float: left;
    margin-bottom: 10px;
}

h1 span{
display: block;
font-family: 'Parisienne', cursive;
font-size: 32px;
line-height: 30px;
margin-left: 40px;
letter-spacing: 0;
}

h2{
color: #396f90;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
line-height: 55px;
letter-spacing: -2px;
margin-bottom: 20px;
}

h2 span{
font-size: 25px;
font-weight: 300;
letter-spacing: 0;
}

p{
font-family: 'PT Sans Caption', sans-serif;
font-size: 16px;
color: #4d4d4d;
}

ul.social{
width: 526px;
float: left;
margin-top: 15px;
margin-bottom: 20px;
}

ul.social li{
margin-right: 25px; 
float: left;
}

ul.social li a{
background: url(../images/social.png) left top no-repeat;
width: 48px;
height: 60px;
float: left;
}

ul.social li a.fb{
background-position: 0 0;
}

ul.social li a:hover.fb{
background-position: 0 -60px;
}


ul.social li a.tw{
background-position: -73px 0;
}

ul.social li a:hover.tw{
background-position: -73px -60px;
}


ul.social li a.li{
background-position: -146px 0;
}

ul.social li a:hover.li{
background-position: -146px -60px;
}


ul.info{
    width: 526px;
    float: left;
}

ul.info li{
    float: left;
    margin-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #4d4d4d;
}

ul.info li a{
    color: #4d4d4d;
}
ul.info li.ph{
background: url(../images/icons.png) left top no-repeat;
padding-top: 25px;
}

ul.info li.ad{
background: url(../images/icons.png) left -208px no-repeat;
padding-top: 25px;
}

ul.info li.mail{
background: url(../images/icons.png) left -107px no-repeat;
padding-top: 25px;
}

.author-info{
margin-left: auto;margin-right: auto;text-align: center;padding-top: 100px;text-align: center;padding-top: 100px;
}

img.img-logo{
width:276px;
}


/************************* FOR THE WATCH TEST ******************************/
.clock {
    /*border-radius: 50%;*/
    background: url(../images/ios_clock.svg) no-repeat center;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 20em;

}

.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container,
.hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

.minutes {
    background: #000;
    height: 25%; /*40%*/
    left: 49%;
    position: absolute;
    top: 25%; /*10%*/
    transform-origin: 50% 100%;
    width: 2%;
}

.seconds {
    background: #000;
    height: 27%; /*45%*/
    left: 49.5%;
    position: absolute;
    top: 24%; /*14%*/
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}
.minutes-container {
    animation: rotate 3600s infinite steps(60);
}
.seconds-container {
    animation: rotate 60s infinite steps(60);
}

.clock{
    float: left;
}

.jour{
    color: #ff0000;
    font-size: 1.4em;
}